*{
    margin: 0;
    padding: 0;
}
html,
body{
    font-size: 100px;
    background-color: var(--bg-color);
}
#app {
    font-size: .36rem;
}
a{
    color: #eee;
}
.full{
    width: 100%;
    height: 100%;
}
/* 换肤 */
#lightTheme{
    --color:#333;
    --bg:#f0f0f4;
}
#darkTheme{
    --color:#f0f0f4;
    --bg:#333;
}
:root{
    --bg-color:#f0f0f4;
    --font-color:#333;
    --color:#00aefd;

}
.def-color{
    color: transparent !important;
  background: linear-gradient(to top, #dc3023, #fff);
  -webkit-background-clip: text;
}
/* 动画 */
/* 播放旋转动画 */
@keyframes rot {
    to{
        transform: rotateZ(360deg);
    }
}
/* 缩至左下角 */
.playing-enter,
.playing-leave-to{
    opacity: 0;
    transform:  scale(0);
}
.playing-enter-active,
.playing-leave-active{
    transition: all .36s ease-in-out;
}
/* 标题前的竖条 */
.vertical-line{
    position: relative;
    padding-left: .18rem !important;
}
.vertical-line::before{
    content: '';
    height: 100%;
    width: .05rem;
    border-radius: 99px;
    background-color: var(--color);
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleY(.66);
}


